.header {
  padding: 20px;
  text-align: center;
  background: #dbe0e4a2;
}

.BangGioHang {
  border: 5px solid #002ec1;
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  text-align: center;
}

.ThanhToanButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

#BangGioHang th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #002ec1;
  color: white;
}
#BangGioHang tr:hover {background-color: #ddd;}
